{% extends "base_general_template.html" %}


{% block content %}
    <h1>Webinar List</h1>

    {% if list_webinar %}
    <ul>
      {% for webinar in list_webinar %}

      <li>
          <p><b>Name:</b> {{ webinar.name }}</p>
          <p><b>Type:</b> {{ webinar.type }} </p>
          <p><b>WebinarId:</b> {{ webinar.webinarId }} </p>
          <p><b>Viewers:</b> {{ webinar.count1 }} </p>
          <a href="{% url 'start-hand-import' %}?roomid={{ webinar.name }}&event={{ webinar.type }}&webinarId={{ webinar.webinarId }}">Start Import</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>ERROR.</p>
    {% endif %}
{% endblock %}